@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rammetto+One&family=Sigmar+One&display=swap');

:root {
    --secondary-color:#FDA403;
    --complementary-color:#1599ff;
    --primary-color:#ff0095;
    --background-color:#E5C287;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.box-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
    font-size: 3em;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 span {
    color: var(--complementary-color)
}

h4 {
    text-align: center;
    margin: 20px 0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

h5 {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-content: center;
    margin: 0 auto;
}
input {
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.btn {
    padding: 15px;
    border: none;
    background-color: var(--complementary-color);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
.btn:hover {
    padding: 15px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.box-inicio ,
.box-partida {
    min-width: 50%;
}

#marcador {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.box-marcador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:0 auto 30px;
}
.player-marcador,
.machine-marcador {
    display: flex;
    gap: 30px;
    align-items: center;
}

.puntos {
    color: white;
    font-size: 15px;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.puntos span{
    font-weight: 800;
    font-size: 25px;
    color: var(--complementary-color);
    margin-right: 15px;
}

.box-partida {
    padding: 15px;
}

.seleccion-juego {
    background-color: var(--secondary-color);
    display: flex;
    padding: 50px;
}

.piedra,
.papel,
.tijera {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.piedra:hover img,
.papel:hover img,
.tijera:hover img {
    filter: grayscale(100%);
}

.txt-piedra,
.txt-papel,
.txt-tijera {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.piedra:hover .txt-piedra,
.papel:hover .txt-papel,
.tijera:hover .txt-tijera {
    color: var(--primary-color);
}

.resultado-juego {
    padding: 50px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mensaje-ganador {
    padding: 50px;
    text-align: center;
}
#mensaje-ganador p {
    font-size: 2em;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#mensaje-ganador h5 {
    font-size: 1.5em;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    margin-top:50px
}

.box-jugadas {
    display: flex;
    gap: 30px;
}
.player,
.machine {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.btn-box{
    display: flex;
    gap: 20px;
}
.oculto {
    display: none;
    transition: display 3s ease-in;
}

#btn-inicio {
    margin: 15px 0;
    border: none;
    padding: 10px;
    color: black;
    font-weight: 800;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-inicio img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

@media (max-width: 768px){
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    .seleccion-juego {
        flex-direction: column;
    }
    .box-jugadas {
        flex-direction: column;
    }
    .box-marcador {
        flex-direction: column;
    }
}