@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
    --primary-color: #EE6314;
    --secundary-color: #000;
    --txt-color-white: #fff;
    --txt-color-black: var(--secundary-color);
    --border-color-grey: #cbcbcb;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/** por defecto coge los css móvil **/

/*genericos*/
h1,
h2 { 
    margin-bottom: 75px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
h2{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 15px;
}
h3 {
    text-transform: uppercase;
    text-align: center;
}

button{
    background-color: var(--secundary-color);
    min-width: 180px;
    height: 50px;
    border:none;
    color: var(--txt-color-white);
}

.txt-white{
    color: var(--txt-color-white);
    margin: 20px 0;
}

.line{
    border-top: 1px solid var(--border-color-grey);
    margin-top: 50px;
    padding-top: 30px;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*fin genericos*/

header {
    max-height: 100px;
    padding: 20px 50px;
    background-color: var(--secundary-color, #000);
    display: flex;
    justify-content:center;
}

header img {
    height: 50px;
}

nav {
    background-color: var(--primary-color, #EE6314);
    padding: 15px;
}

/*MENÚ*/
.menu {
    color:var(--txt-color-white);
    margin:0 auto;
    padding: 0px;
}
.menu li {
    display: block;
    margin:0 10px;
}
.menu li a {
    text-decoration: none;
    color: var(--txt-color-white);
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu li a:hover {
    color: var(--secundary-color, #000);
}

.b-ofertas img {
    margin: 0 auto;
    width: 100%;
}

/*CONTENIDO MAIN*/
.box-listado-productos {
    padding: 20px;
    width: auto;
}

section{
    align-content: center;
}

article {
    margin-bottom: 25px;
    width: 100%;
}
article p {
    font-size: 12px;
    color:#666;
    text-align: center;
}

.box-libro {
    padding: 20px 10px;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.box-libro:hover{
    filter: grayscale(75%);
}
.box-oferta{
    border: 1px solid var(--primary-color);
}
.box-oferta:hover{
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
    filter: grayscale(75%);
}
.box-libro h3{
    max-width: 200px;
}
.box-libro img{
    width: 200px;
}

/*banner registro*/
.b-registro{
    background-color:var(--primary-color);
}
.content-registro{
    padding: 20px;
}
.content-registro h4{
    font-size: 2em;
    color: var(--txt-color-white);
    font-weight: 400;
    text-align: center;
    margin-top:20px;
}
.form-registro{
    margin-top: 25px;
}
input{
    border: 1px solid var(--border-color-grey);
    border-radius: 10px;
    height: 50px;
    margin:10px 0;
    padding: 10px;
}

/*FOOTER*/
footer {
    background-color: var(--secundary-color, #000);
    padding: 20px;
    text-align: center;
}
.logo-footer{
    width: 100px;
}
.footer-enlaces {
    justify-content: center;
    margin: 35px 0;
}
.footer-enlaces ul{
    padding-left: 0px;
}
.footer-enlaces li {
    text-align: center;
}
.footer-enlaces li a {
    text-decoration: none;
    color: var(--txt-color-white);
}
.logos-cultura{
    height: auto;
    max-width: 300px;
}


/*********************************************************
        MEDIA QUERYS
*********************************************************/

/*MEDIA QUERY tablet*/
@media screen and (min-width: 376px) and (max-width:768px){
    .flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        flex-direction: row;
    }
    nav{
        text-align: center;
    }
    .menu li{
        display: inline-block;
    }
    article{
        width: 300px;
    }
    .form-registro{
        justify-content: center;
        align-items: center;
    }
    .footer-enlaces{
        justify-content: center;
    }
    .footer-enlaces li {
        text-align: left;
    }

}
/*MEDIA QUERY desktop*/
@media screen and (min-width: 769px) {

    .flex {
        flex-direction: row;
        justify-content: space-between;
    }

    /*MENÚ*/
    nav{
        text-align: center;
    }
    .menu li {
        display: inline-block;
    }

    /*CONTENIDO PRINCIPAL*/
    main{
        margin:0px;
        padding:0px;
    }
    .box-listado-productos {
        width: 80%;
        margin:0 auto;
    }
    .section{
        margin:0px;
    }
    article {
        margin-bottom: 50px;
        width: 240px;
    }

    .box-libro h3{
        max-width: 200px;
    }

    /*banner registro*/
    .content-registro{
        width: 80%;
        margin:0 auto;
        padding: 50px 50px 80px 50px;
    }
    .content-registro h4{
        font-size: 2.5em;
    }
    .form-registro{
        justify-content: center;
        align-items: center;
    }
    input{
        margin-right: 30px;
    }

    /*FOOTER*/
    footer {
        padding: 40px;
    }

    .footer-enlaces {
        justify-content: center;
    }
    .footer-enlaces ul{
        padding-left: 50px;
    }
    .footer-enlaces li {
        text-align: left;
    }

    .logos-cultura{
        height: 50px;
        max-width: none;
    }
}