@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #581845;
    --rojo-hover:#900C3F;
    --rojo: #C70039;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--background-color);
}

.box-tres-en-raya {
    padding: 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    font-weight: 300;
}

.turno {
    background-color: #FFC300;
}
.turno h2{
    color: white;
}
.turno.jugador-naranja,
.turno.jugador-verde{
    cursor: none;
}

.jugadores {
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}
.jugador-naranja,
.jugador-verde {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.jugador-naranja:hover h2,
.jugador-verde:hover h2 {
    color: white;
}

.jugador-naranja .circulo,
.jugador-verde .cruz {
    width: 20px;
    height: 20px;
}
.tres-en-raya {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;

    min-width: 400px;
    min-height: 400px;

    justify-content: center;
    background-color: var(--background-color);
}
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9 {
    padding: 20px;
    background-color: var(--rojo);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover,
.item-6:hover,
.item-7:hover,
.item-8:hover,
.item-9:hover {
    background-color: var(--rojo-hover);
}
.circulo {
    width: 100%;
    background-color: #FF5733;
    border-radius: 100%;
}
.cruz {
    width: 100%;
    background-color: #DAF7A6;
}

.invisible {
    display: none;
}
.visible {
    display: block;
    transition: display 3s ease-in;
}

.botones {
    display: flex;
    justify-content: space-between;
}
#btn-reiniciar {
    margin: 30px 0;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: black;
    background-color: #FFC300;
    cursor: pointer;
}

#btn-reiniciar:hover {
    background-color: #FFC300;
    color: black;
}

#btn-inicio {
    margin: 30px 0;
    border: none;
    padding: 10px;
    color: black;
    font-weight: 800;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.btn-inicio img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

@media (max-width: 768px){
    .jugadores {
        margin: 20px 0;
    }
}