@import "../../styles.css";

#experience {
    padding: 25px 150px;
}

.hidden {
    display: none;
    transition: display 0.8s linear 0,3s;
}

.rotate {
    transform: rotate(180deg);
    margin-top: 20px;
    transition: transform 0.3s linear 0s;
}
.rotate svg{
    fill: var(--secundary-color);
    transition: fill 0.3s linear 0s;
}

.txt-dark {
    color: var(--secundary-color);
}

h2 {
    color: var(--secundary-color);
    font-size: 35px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px 0;
}
.cont-experiences {
    margin: 100px 0 50px 0;
}
.flex-experience {
    display: flex;
    gap:30px;
}
.line-experience {
    width: 25%;
    display: flex;
    justify-content: center;
}
.line {
    /* border: 1px solid var(--secundary-medium); */
    width: 2px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.circle{
    width: 5px;
    height: 5px;
    padding: 10px;
    background-color: var(--primary-color);
}
.experience {
    width: 75%;   
}
.position {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 22px;
    
}
.company {
    color: var(--secundary-color);
    font-weight: 400;
}
.date{
    font-size: 12px;
    color: var(--primary-color);
    margin: 20px 0;
}

.description {
    width: 50%;
    margin-bottom: 40px;
}

.see-more{
    text-align: center;
    margin-bottom: 50px;
}